.sub_nav_main {

  flex: 1;
  flex-shrink: 0;
  // margin-top: 40px;
  margin-top: 10px;
  // overflow-y: scroll;
  // scrollbar-width: none;
  // background-color: red;



  .sub_nav_main_body {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    width: 100%;


    .sub_nav_main_item {
      width: 80px;
      margin-bottom: 12px;
      box-sizing: border-box;
      display: flex;

      align-items: center;
      flex-direction: column;

      &.active {
        img {
          border: 2px solid #7B68EE;
          border-radius: 4px;
        }
      }

      img {
        width: 100%;
        // width: 80px;
        border-radius: 4px;
        // object-fit: cover;
        cursor: pointer;
      }

      .name {
        color: #fff;
        font-size: 12px;
        height: 38px;
        line-height: 38px;
        // display: inline-block;
        // background-color: blue;
      }
    }
  }

}
