.card_list {

  flex: 1;
  flex-shrink: 0;



  .sub_nav_main_body {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    width: 100%;


    .sub_nav_main_item {
      width: 80px;
      margin-bottom: 12px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;


      &.active {
        >.lazy-load-image-background >img {
          border: 2px solid #7B68EE;
          border-radius: 4px;
        }
      }

      >.lazy-load-image-background >img{
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
        border: 2px solid rgba(0,0,0,0);
      }

      .cardlist_name {
        color: #fff;
        font-size: 12px;
        height: 38px;
        line-height: 38px;

        display: inline-flex;
        align-items: center;

        > img {
          width: 10px;
          height: 10px;
          cursor: pointer;
        }

        .cardlist_edit_icon {
          // margin: 0 10px 0 5px;
          margin: 0 5px 0 5px;
        }

        .cardlist_name_text {
          overflow: hidden;
          text-overflow: ellipsis;
          flex: 1;
          line-height: 1;
        }
      }

      .empty_site {
        width: 80px;
        height: 120px;
        background-color: #EFEFEF;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 2px;
        border: 2px solid rgba(0,0,0,0);

        &.active {
          border: 2px solid #7B68EE;
        }

        > img {
          width: 41px;
        }
      }
    }

    .avatar_type {
      background-color:#E9EBF0;
      width: 80px;
      height: 120px;
      margin-bottom: 12px;
      overflow: hidden;
      border-radius: 4px;
      cursor: pointer;
      border: 2px solid rgba(0,0,0,0);

      &.active {
        border: 2px solid #7B68EE;
      }


      .avatar {
        width: 64px;
        height: 64px;
        border-radius: 100%;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 8px;
      }

      .name_text {
        font-size: 12px;
        color: #000;
        text-align: center;
        margin-top: 8px;
      }
    }
  }


  .mask {
    position: relative;

    &::after {
      content: attr(placeholder);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(144, 144, 144, 0.55);
      z-index: 99;

      color: #fff;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}
