.sub_nav_header {
  display: flex;
  // height: 35px;
  height: 40px;
  // background-color: red;
  margin-top: 14px;

  .sub_nav_header_item {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #909090;

    cursor: pointer;
    position: relative;

    &.light_active {
      color: #fff;
    }

    &.night_active {
      color: #000;
    }
  }
}


.light_sub_nav_line {
  background-color: #242F55;
}

.night_sub_nav_line {
  background-color: #E9EBF0;
}

.sub_nav_line {
  height: 2px;


  .sub_nav_line_light {
    height: 100%;
    background-color:  #7B68EE;
  }
}
