.auto_tabs {
  margin-top: 14px;
  // background-color: red;
  width: 100%;

  .auto_tabs_items {
    display: flex;
    align-items: center;

    .auto_tabs_item {
      width: 50%;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #909090;
      font-size: 14px;
      cursor: pointer;

      &.white_active {
        color: #fff;
      }

      &.black_active {
        color:#000000;
      }
    }
  }


  .auto_tabs_line {
    height: 2px;

    &.white_active {
      background-color: #242F55;
    }

    &.black_active {
      background-color: #E9EBF0;
    }

    .auto_tabs_active_line {
      height: 100%;
      background-color: #7B68EE;
      width: 50%;
      transition: all 0.3s;
    }
  }
}
