ol, ul {
  list-style: none;
}

.section {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,&.active {
    background: #242F55;
    border-radius: 0 6px 6px 0;
  }


  .text {
    size: 14px;
    line-height: 35px;
  }
}


