#videoWrap {
  width: 100%;
  height: 100%;
  background: #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 20px;*/
}

#long_home {
  /*width: 942px;*/
  /*height: 530px;*/
  background-repeat: no-repeat;
  background-position: center;
  /*background-image: url("https://digital-person.oss-cn-hangzhou.aliyuncs.com/FileUpload/1/UID_1/Image/Background/nafiniaputraKwdp0pokIunsplash_1678881317677.jpg");*/
  background-color: #232428;
  background-size: cover;
  margin: auto;
  position: relative;
  user-select: none;
}

#home_body {
  /*width: 180px;*/
  /*height: 320px;*/
  /*top: 0px;*/
  /*left: 0px;*/
  /*background-color: rgb(213, 30, 30);*/
  position: absolute;
  cursor: move;
  z-index: 10;
}

/*四边*/
#home_body .t,
#home_body .b,
#home_body .l,
#home_body .r {
  position: absolute;
  z-index: 1;
  background: #776ce6;
}

#home_body .l,
#home_body .r {
  width: 2px;
  height: 100%;
  cursor: col-resize;
}

#home_body .t,
#home_body .b {
  width: 100%;
  height: 2px;
  cursor: row-resize;
}

#home_body .t {
  top: 0;
  left: 0;
}

#home_body .b {
  bottom: 0;
  left: 0;
}

#home_body .l {
  left: 0;
}

#home_body .r {
  right: 0;
}

/*四角*/
#home_body .tl,
#home_body .bl,
#home_body .br,
#home_body .tr {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #776ce6;
  z-index: 2;
  cursor: nwse-resize
}

#home_body .tl,
#home_body .bl {
  left: -4px;
}

#home_body .tr,
#home_body .br {
  right: -4px;
}

#home_body .br,
#home_body .bl {
  bottom: -4px;
}

#home_body .tl,
#home_body .tr {
  top: -4px;
}

#home_body .tr,
#home_body .bl {
  cursor: nesw-resize;
}
#home_body img{
  width: 100%;
  height: 100%;
}
.videoView {
  position: absolute;
  top: 0;
  left: 0;
}
